<hr/>
<h2 id="buttons">Buttons</h2>
<section class="flow__flex flow__gap--m flow__flex--wrap">
  <button class="button__primary">Primary</button>
  <button class="button__secondary">Secondary</button>
  <button class="button__tertiary">Tertiary</button>
</section>
<h3 id="disabled">Disabled</h3>
<section class="flow__flex flow__gap--m flow__flex--wrap">
  <button class="button__primary" disabled>Primary[disabled]</button>
  <button class="button__secondary" disabled>Secondary[disabled]</button>
  <button class="button__tertiary" disabled>Tertiary[disabled]</button>
</section>