<form id="fontForm" class="oomph__v--m padding__top--xxxl">
  <fieldset class="control__input">
    <label for="url">External Stylesheet</label>
    <input type="url" name="url" id="url"
       placeholder="ex. https://fonts.googleapis.com/…"
       pattern="https://.*"/>
  </fieldset>
  <fieldset class="control__input">
    <label for="primary">Primary</label>
    <input type="text" name="primary" id="primary"
       placeholder="ex. sans-serif"/>
  </fieldset>
  <fieldset class="control__input">
    <label for="secondary">Secondary</label>
    <input type="text" name="secondary" id="secondary"
       placeholder="ex. serif"/>
  </fieldset>
  <fieldset class="control__input">
    <label for="tertiary">Tertiary</label>
    <input type="text" name="tertiary" id="tertiary"
       placeholder="ex. monospace"/>
  </fieldset>
  <button class="button__primary" type="submit">Add Stylesheet</button>
</form>