<hr/>
<h2>Form Elements</h2>
<form class="oomph__v--l" onsubmit="event.preventDefault()">
  <fieldset class="control__input">
    <label for="input1">Input</label>
    <input id="input1" name="input1" type="text" placeholder="Enter name…"/>
  </fieldset>
  <fieldset class="control__select">
    <label for="select1">Select</label>
    <select id="select1" name="select1">
      <option selected>Really young</option>
      <option>Just right</option>
      <option>Really old</option>
    </select>
  </fieldset>
  <fieldset class="control__radio">
    <legend>Radio</legend>
    <label for="coffee"><input type="radio" id="coffee" name="drink" value="Coffee" checked>
      <span>Coffee</span></label>
    <label for="tea"><input type="radio" id="tea" name="drink" value="Tea">
      <span>Tea</span></label>
  </fieldset>
  <fieldset class="control__checkbox">
    <legend>Checkbox</legend>
    <label for="selfdestruct1"><input type="checkbox" id="selfdestruct1" name="selfdestruct1">
      <span>Unchecked</span></label>
    <label for="selfdestruct2"><input type="checkbox" id="selfdestruct2" name="selfdestruct2" checked>
      <span>Checked</span></label>
  </fieldset>
  <fieldset class="control__toggle">
    <legend>Toggle</legend>
    <label for="toggle1"><input type="checkbox" id="toggle1" name="toggle1" checked>
      <span>Checked</span></label>
  </fieldset>
  <fieldset class="flow__flex flow__align--h-start flow__align--v-center flow__gap--s">
    <button  class="button__secondary" type="reset">Reset</button>
    <button class="button__primary" type="submit">Submit Form</button>
  </fieldset>
</form>