:root {
  --color__base: hsl(0, 0%, 24%);
  --color__base--ish: hsla(0, 0%, 24%, 0.75);
  --color__base--mid: hsla(0, 0%, 24%, 0.7);
  --color__base--semi: hsla(0, 0%, 24%, 0.44);
  --color__base--light: hsla(0, 0%, 24%, 0.22);
  --color__base--ghost: hsla(0, 0%, 24%, 0.02);
  --color__brand: hsl(240, 100%, 50%);
  --color__brand--ish: hsla(240, 100%, 32%, 0.75);
  --color__brand--mid: hsla(240, 100%, 32%, 0.7);
  --color__brand--semi: hsla(240, 100%, 32%, 0.44);
  --color__brand--light: hsla(240, 100%, 32%, 0.22);
  --color__brand--ghost: hsla(240, 100%, 32%, 0.02);
  --color__contrast: white;
  --color__contrast--extra: hsl(0, 0%, 8%);
  --color__focus: var(--color__brand);
  --color__invalid: hsl(358, 70%, 50%);
  --color__valid: hsl(156, 100%, 32%);
  --size__xxs: 0.0625rem;
  --size__xs: 0.25rem;
  --size__s: 0.5rem;
  --size__m: 1rem;
  --size__l: 2rem;
  --size__xl: 2.5rem;
  --size__xxl: 3rem;
  --typeFamily__sans: sans-serif;
  --typeFamily__sans-alt: sans-serif;
  --typeFamily__mono: monospace;
  --typeLineheight__xs: 0.75rem;
  --typeLineheight__s: 1rem;
  --typeLineheight__m: 1.5rem;
  --typeLineheight__l: 2rem;
  --typeLineheight__xl: 3rem;
  --typeSize__xxs: 0.75rem;
  --typeSize__xs: 0.875rem;
  --typeSize__s: 1rem;
  --typeSize__m: 1.125rem;
  --typeSize__l: 1.25rem;
  --typeSize__xl: 1.5rem;
  --typeSize__xxl: 1.875rem;
  --width__xxs: 10rem;
  --width__xs: 15rem;
  --width__s: 20rem;
  --width__m: 30rem;
  --width__ml: 40rem;
  --width__l: 60rem;
}

:root[data-theme="dark"] {
  --color__base: hsl(0, 0%, 100%);
  --color__base--ish: hsla(0, 0%, 100%, 0.75);
  --color__base--mid: hsla(0, 0%, 100%, 0.7);
  --color__base--semi: hsla(0, 0%, 100%, 0.44);
  --color__base--light: hsla(0, 0%, 100%, 0.22);
  --color__base--ghost: hsla(0, 0%, 100%, 0.02);
  --color__contrast: hsl(0, 0%, 8%);
  --color__contrast--extra: hsl(0, 0%, 4%);
}

.border__all {
  border: var(--size__xxs) solid;
}
.border__bottom {
  border-bottom: var(--size__xxs) solid;
}
.border__left {
  border-left: var(--size__xxs) solid;
}
.border__right {
  border-right: var(--size__xxs) solid;
}
.border__top {
  border-top: var(--size__xxs) solid;
}

.color__bg--base {
  background-color: var(--color__base);
}

.color__border--base {
  border-color: var(--color__base);
}

.color__type--base {
  color: var(--color__base);
}

.color__bg--base--ish {
  background-color: var(--color__base--ish);
}

.color__border--base--ish {
  border-color: var(--color__base--ish);
}

.color__type--base--ish {
  color: var(--color__base--ish);
}

.color__bg--base--mid {
  background-color: var(--color__base--mid);
}

.color__border--base--mid {
  border-color: var(--color__base--mid);
}

.color__type--base--mid {
  color: var(--color__base--mid);
}

.color__bg--base--semi {
  background-color: var(--color__base--semi);
}

.color__border--base--semi {
  border-color: var(--color__base--semi);
}

.color__type--base--semi {
  color: var(--color__base--semi);
}

.color__bg--base--light {
  background-color: var(--color__base--light);
}

.color__border--base--light {
  border-color: var(--color__base--light);
}

.color__type--base--light {
  color: var(--color__base--light);
}

.color__bg--base--ghost {
  background-color: var(--color__base--ghost);
}

.color__border--base--ghost {
  border-color: var(--color__base--ghost);
}

.color__type--base--ghost {
  color: var(--color__base--ghost);
}

.color__bg--brand {
  background-color: var(--color__brand);
}

.color__border--brand {
  border-color: var(--color__brand);
}

.color__type--brand {
  color: var(--color__brand);
}

.color__bg--brand--ish {
  background-color: var(--color__brand--ish);
}

.color__border--brand--ish {
  border-color: var(--color__brand--ish);
}

.color__type--brand--ish {
  color: var(--color__brand--ish);
}

.color__bg--brand--mid {
  background-color: var(--color__brand--mid);
}

.color__border--brand--mid {
  border-color: var(--color__brand--mid);
}

.color__type--brand--mid {
  color: var(--color__brand--mid);
}

.color__bg--brand--semi {
  background-color: var(--color__brand--semi);
}

.color__border--brand--semi {
  border-color: var(--color__brand--semi);
}

.color__type--brand--semi {
  color: var(--color__brand--semi);
}

.color__bg--brand--light {
  background-color: var(--color__brand--light);
}

.color__border--brand--light {
  border-color: var(--color__brand--light);
}

.color__type--brand--light {
  color: var(--color__brand--light);
}

.color__bg--brand--ghost {
  background-color: var(--color__brand--ghost);
}

.color__border--brand--ghost {
  border-color: var(--color__brand--ghost);
}

.color__type--brand--ghost {
  color: var(--color__brand--ghost);
}

.color__bg--contrast {
  background-color: var(--color__contrast);
}

.color__border--contrast {
  border-color: var(--color__contrast);
}

.color__type--contrast {
  color: var(--color__contrast);
}

.color__bg--contrast--extra {
  background-color: var(--color__contrast--extra);
}

.color__border--contrast--extra {
  border-color: var(--color__contrast--extra);
}

.color__type--contrast--extra {
  color: var(--color__contrast--extra);
}

.color__bg--invalid {
  background-color: var(--color__invalid);
}

.color__border--invalid {
  border-color: var(--color__invalid);
}

.color__type--invalid {
  color: var(--color__invalid);
}

.color__bg--valid {
  background-color: var(--color__valid);
}

.color__border--valid {
  border-color: var(--color__valid);
}

.color__type--valid {
  color: var(--color__valid);
}

.margin__all--xxs {
  margin: var(--size__xxs);
}

.margin__all--xs {
  margin: var(--size__xs);
}

.margin__all--s {
  margin: var(--size__s);
}

.margin__all--m {
  margin: var(--size__m);
}

.margin__all--l {
  margin: var(--size__l);
}

.margin__all--xl {
  margin: var(--size__xl);
}

.margin__all--xxl {
  margin: var(--size__xxl);
}

.margin__bottom--xxs {
  margin-bottom: var(--size__xxs);
}

.margin__bottom--xs {
  margin-bottom: var(--size__xs);
}

.margin__bottom--s {
  margin-bottom: var(--size__s);
}

.margin__bottom--m {
  margin-bottom: var(--size__m);
}

.margin__bottom--l {
  margin-bottom: var(--size__l);
}

.margin__bottom--xl {
  margin-bottom: var(--size__xl);
}

.margin__bottom--xxl {
  margin-bottom: var(--size__xxl);
}

.margin__left--xxs {
  margin-left: var(--size__xxs);
}

.margin__left--xs {
  margin-left: var(--size__xs);
}

.margin__left--s {
  margin-left: var(--size__s);
}

.margin__left--m {
  margin-left: var(--size__m);
}

.margin__left--l {
  margin-left: var(--size__l);
}

.margin__left--xl {
  margin-left: var(--size__xl);
}

.margin__left--xxl {
  margin-left: var(--size__xxl);
}

.margin__right--xxs {
  margin-right: var(--size__xxs);
}

.margin__right--xs {
  margin-right: var(--size__xs);
}

.margin__right--s {
  margin-right: var(--size__s);
}

.margin__right--m {
  margin-right: var(--size__m);
}

.margin__right--l {
  margin-right: var(--size__l);
}

.margin__right--xl {
  margin-right: var(--size__xl);
}

.margin__right--xxl {
  margin-right: var(--size__xxl);
}

.margin__top--xxs {
  margin-top: var(--size__xxs);
}

.margin__top--xs {
  margin-top: var(--size__xs);
}

.margin__top--s {
  margin-top: var(--size__s);
}

.margin__top--m {
  margin-top: var(--size__m);
}

.margin__top--l {
  margin-top: var(--size__l);
}

.margin__top--xl {
  margin-top: var(--size__xl);
}

.margin__top--xxl {
  margin-top: var(--size__xxl);
}

.padding__all--xxs {
  padding: var(--size__xxs);
}

.padding__all--xs {
  padding: var(--size__xs);
}

.padding__all--s {
  padding: var(--size__s);
}

.padding__all--m {
  padding: var(--size__m);
}

.padding__all--l {
  padding: var(--size__l);
}

.padding__all--xl {
  padding: var(--size__xl);
}

.padding__all--xxl {
  padding: var(--size__xxl);
}

.padding__bottom--xxs {
  padding-bottom: var(--size__xxs);
}

.padding__bottom--xs {
  padding-bottom: var(--size__xs);
}

.padding__bottom--s {
  padding-bottom: var(--size__s);
}

.padding__bottom--m {
  padding-bottom: var(--size__m);
}

.padding__bottom--l {
  padding-bottom: var(--size__l);
}

.padding__bottom--xl {
  padding-bottom: var(--size__xl);
}

.padding__bottom--xxl {
  padding-bottom: var(--size__xxl);
}

.padding__left--xxs {
  padding-left: var(--size__xxs);
}

.padding__left--xs {
  padding-left: var(--size__xs);
}

.padding__left--s {
  padding-left: var(--size__s);
}

.padding__left--m {
  padding-left: var(--size__m);
}

.padding__left--l {
  padding-left: var(--size__l);
}

.padding__left--xl {
  padding-left: var(--size__xl);
}

.padding__left--xxl {
  padding-left: var(--size__xxl);
}

.padding__right--xxs {
  padding-right: var(--size__xxs);
}

.padding__right--xs {
  padding-right: var(--size__xs);
}

.padding__right--s {
  padding-right: var(--size__s);
}

.padding__right--m {
  padding-right: var(--size__m);
}

.padding__right--l {
  padding-right: var(--size__l);
}

.padding__right--xl {
  padding-right: var(--size__xl);
}

.padding__right--xxl {
  padding-right: var(--size__xxl);
}

.padding__top--xxs {
  padding-top: var(--size__xxs);
}

.padding__top--xs {
  padding-top: var(--size__xs);
}

.padding__top--s {
  padding-top: var(--size__s);
}

.padding__top--m {
  padding-top: var(--size__m);
}

.padding__top--l {
  padding-top: var(--size__l);
}

.padding__top--xl {
  padding-top: var(--size__xl);
}

.padding__top--xxl {
  padding-top: var(--size__xxl);
}

.oomph__h--xxs > * + *:not([class*="margin"]) {
  margin-left: var(--size__xxs);
}

.oomph__v--xxs > * + *:not([class*="margin"]) {
  margin-top: var(--size__xxs);
}

.radius--xxs {
  border-radius: var(--size__xxs);
}

.radius__bl--xxs {
  border-bottom-left-radius: var(--size__xxs);
}

.radius__br--xxs {
  border-bottom-right-radius: var(--size__xxs);
}

.radius__tl--xxs {
  border-top-left-radius: var(--size__xxs);
}

.radius__tr--xxs {
  border-top-right-radius: var(--size__xxs);
}

.oomph__h--xs > * + *:not([class*="margin"]) {
  margin-left: var(--size__xs);
}

.oomph__v--xs > * + *:not([class*="margin"]) {
  margin-top: var(--size__xs);
}

.radius--xs {
  border-radius: var(--size__xs);
}

.radius__bl--xs {
  border-bottom-left-radius: var(--size__xs);
}

.radius__br--xs {
  border-bottom-right-radius: var(--size__xs);
}

.radius__tl--xs {
  border-top-left-radius: var(--size__xs);
}

.radius__tr--xs {
  border-top-right-radius: var(--size__xs);
}

.oomph__h--s > * + *:not([class*="margin"]) {
  margin-left: var(--size__s);
}

.oomph__v--s > * + *:not([class*="margin"]) {
  margin-top: var(--size__s);
}

.radius--s {
  border-radius: var(--size__s);
}

.radius__bl--s {
  border-bottom-left-radius: var(--size__s);
}

.radius__br--s {
  border-bottom-right-radius: var(--size__s);
}

.radius__tl--s {
  border-top-left-radius: var(--size__s);
}

.radius__tr--s {
  border-top-right-radius: var(--size__s);
}

.oomph__h--m > * + *:not([class*="margin"]) {
  margin-left: var(--size__m);
}

.oomph__v--m > * + *:not([class*="margin"]) {
  margin-top: var(--size__m);
}

.radius--m {
  border-radius: var(--size__m);
}

.radius__bl--m {
  border-bottom-left-radius: var(--size__m);
}

.radius__br--m {
  border-bottom-right-radius: var(--size__m);
}

.radius__tl--m {
  border-top-left-radius: var(--size__m);
}

.radius__tr--m {
  border-top-right-radius: var(--size__m);
}

.oomph__h--l > * + *:not([class*="margin"]) {
  margin-left: var(--size__l);
}

.oomph__v--l > * + *:not([class*="margin"]) {
  margin-top: var(--size__l);
}

.radius--l {
  border-radius: var(--size__l);
}

.radius__bl--l {
  border-bottom-left-radius: var(--size__l);
}

.radius__br--l {
  border-bottom-right-radius: var(--size__l);
}

.radius__tl--l {
  border-top-left-radius: var(--size__l);
}

.radius__tr--l {
  border-top-right-radius: var(--size__l);
}

.oomph__h--xl > * + *:not([class*="margin"]) {
  margin-left: var(--size__xl);
}

.oomph__v--xl > * + *:not([class*="margin"]) {
  margin-top: var(--size__xl);
}

.radius--xl {
  border-radius: var(--size__xl);
}

.radius__bl--xl {
  border-bottom-left-radius: var(--size__xl);
}

.radius__br--xl {
  border-bottom-right-radius: var(--size__xl);
}

.radius__tl--xl {
  border-top-left-radius: var(--size__xl);
}

.radius__tr--xl {
  border-top-right-radius: var(--size__xl);
}

.oomph__h--xxl > * + *:not([class*="margin"]) {
  margin-left: var(--size__xxl);
}

.oomph__v--xxl > * + *:not([class*="margin"]) {
  margin-top: var(--size__xxl);
}

.radius--xxl {
  border-radius: var(--size__xxl);
}

.radius__bl--xxl {
  border-bottom-left-radius: var(--size__xxl);
}

.radius__br--xxl {
  border-bottom-right-radius: var(--size__xxl);
}

.radius__tl--xxl {
  border-top-left-radius: var(--size__xxl);
}

.radius__tr--xxl {
  border-top-right-radius: var(--size__xxl);
}

.type__family--sans {
  font-family: sans-serif;
}

.type__family--sans-alt {
  font-family: sans-serif;
}

.type__family--mono {
  font-family: monospace;
}

.type__align--center {
  text-align: center;
}
.type__align--left {
  text-align: left;
}
.type__align--right {
  text-align: right;
}

.type__size--xxs-xs {
  font-size: var(--typeSize__xxs);
  line-height: var(--typeLineheight__xs);
}

.type__size--xxs-s {
  font-size: var(--typeSize__xxs);
  line-height: var(--typeLineheight__s);
}

.type__size--xxs-m {
  font-size: var(--typeSize__xxs);
  line-height: var(--typeLineheight__m);
}

.type__size--xxs-l {
  font-size: var(--typeSize__xxs);
  line-height: var(--typeLineheight__l);
}

.type__size--xxs-xl {
  font-size: var(--typeSize__xxs);
  line-height: var(--typeLineheight__xl);
}

.type__size--xs-xs {
  font-size: var(--typeSize__xs);
  line-height: var(--typeLineheight__xs);
}

.type__size--xs-s {
  font-size: var(--typeSize__xs);
  line-height: var(--typeLineheight__s);
}

.type__size--xs-m {
  font-size: var(--typeSize__xs);
  line-height: var(--typeLineheight__m);
}

.type__size--xs-l {
  font-size: var(--typeSize__xs);
  line-height: var(--typeLineheight__l);
}

.type__size--xs-xl {
  font-size: var(--typeSize__xs);
  line-height: var(--typeLineheight__xl);
}

.type__size--s-xs {
  font-size: var(--typeSize__s);
  line-height: var(--typeLineheight__xs);
}

.type__size--s-s {
  font-size: var(--typeSize__s);
  line-height: var(--typeLineheight__s);
}

.type__size--s-m {
  font-size: var(--typeSize__s);
  line-height: var(--typeLineheight__m);
}

.type__size--s-l {
  font-size: var(--typeSize__s);
  line-height: var(--typeLineheight__l);
}

.type__size--s-xl {
  font-size: var(--typeSize__s);
  line-height: var(--typeLineheight__xl);
}

.type__size--m-xs {
  font-size: var(--typeSize__m);
  line-height: var(--typeLineheight__xs);
}

.type__size--m-s {
  font-size: var(--typeSize__m);
  line-height: var(--typeLineheight__s);
}

.type__size--m-m {
  font-size: var(--typeSize__m);
  line-height: var(--typeLineheight__m);
}

.type__size--m-l {
  font-size: var(--typeSize__m);
  line-height: var(--typeLineheight__l);
}

.type__size--m-xl {
  font-size: var(--typeSize__m);
  line-height: var(--typeLineheight__xl);
}

.type__size--l-xs {
  font-size: var(--typeSize__l);
  line-height: var(--typeLineheight__xs);
}

.type__size--l-s {
  font-size: var(--typeSize__l);
  line-height: var(--typeLineheight__s);
}

.type__size--l-m {
  font-size: var(--typeSize__l);
  line-height: var(--typeLineheight__m);
}

.type__size--l-l {
  font-size: var(--typeSize__l);
  line-height: var(--typeLineheight__l);
}

.type__size--l-xl {
  font-size: var(--typeSize__l);
  line-height: var(--typeLineheight__xl);
}

.type__size--xl-xs {
  font-size: var(--typeSize__xl);
  line-height: var(--typeLineheight__xs);
}

.type__size--xl-s {
  font-size: var(--typeSize__xl);
  line-height: var(--typeLineheight__s);
}

.type__size--xl-m {
  font-size: var(--typeSize__xl);
  line-height: var(--typeLineheight__m);
}

.type__size--xl-l {
  font-size: var(--typeSize__xl);
  line-height: var(--typeLineheight__l);
}

.type__size--xl-xl {
  font-size: var(--typeSize__xl);
  line-height: var(--typeLineheight__xl);
}

.type__size--xxl-xs {
  font-size: var(--typeSize__xxl);
  line-height: var(--typeLineheight__xs);
}

.type__size--xxl-s {
  font-size: var(--typeSize__xxl);
  line-height: var(--typeLineheight__s);
}

.type__size--xxl-m {
  font-size: var(--typeSize__xxl);
  line-height: var(--typeLineheight__m);
}

.type__size--xxl-l {
  font-size: var(--typeSize__xxl);
  line-height: var(--typeLineheight__l);
}

.type__size--xxl-xl {
  font-size: var(--typeSize__xxl);
  line-height: var(--typeLineheight__xl);
}

.width__xxs {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width__xxs);
  width: 100%;
}

.width__xs {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width__xs);
  width: 100%;
}

.width__s {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width__s);
  width: 100%;
}

.width__m {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width__m);
  width: 100%;
}

.width__ml {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width__ml);
  width: 100%;
}

.width__l {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width__l);
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: var(--typeSize__xxl);
  line-height: var(--typeLineheight__l);
}

h2 {
  font-size: var(--typeSize__xl);
  line-height: var(--typeLineheight__l);
}

h3 {
  font-size: var(--typeSize__l);
  line-height: var(--typeLineheight__l);
}

h4 {
  font-size: var(--typeSize__s);
  line-height: var(--typeLineheight__s);
}

h5 {
  font-size: var(--typeSize__xs);
  letter-spacing: var(--size__xxs);
  line-height: var(--typeLineheight__s);
  text-transform: uppercase;
}

h6 {
  font-size: var(--typeSize__xxs);
  letter-spacing: var(--size__xxs);
  line-height: var(--typeLineheight__s);
  text-transform: uppercase;
}

p {
  margin: 0;
}

p,
li,
button,
input,
select,
textarea,
input[type="checkbox"] + label,
input[type="radio"] + label,
[data-component="button"] {
  font-size: var(--typeSize__m);
  line-height: var(--typeLineheight__l);
}

ul,
ol {
  margin: 0;
  padding-left: calc(var(--size__xs) + var(--size__m));
}
ul ul,
ul ol,
ol ul,
ol ol {
  padding-left: var(--size__xl);
}
ul li + li,
ol li + li {
  margin-top: var(--size__s);
}

ul li {
  list-style-type: square;
}
ul li li {
  list-style-type: circle;
}

blockquote {
  background-color: var(--color__brand--light);
  border-left: var(--size__xs) solid var(--color__brand);
  margin: 0;
  padding: var(--size__m);
}

code {
  background-color: var(--color__contrast--extra);
  border-radius: var(--size__xs);
  color: white;
  font-family: var(--typeFamily__mono);
  padding: var(--size__xs) var(--size__s);
  white-space: pre-wrap;
}
pre code {
  background: none;
  font-size: var(--typeSize__xs);
  line-height: var(--typeLineheight__m);
  white-space: pre;
}

pre {
  background-color: var(--color__contrast--extra);
  border-radius: var(--size__s);
  overflow: hidden;
  overflow-x: auto;
  margin: 0;
  padding: var(--size__s);
  word-wrap: normal;
}

hr {
  border: var(--size__xxs) solid var(--color__brand);
  margin: 0;
}

label {
  display: block;
}
input[type="checkbox"] + label {
  display: inline-block;
}
input[type="radio"] + label {
  display: inline-block;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select,
textarea {
  background-color: transparent;
  border-color: var(--color__base--semi);
  border-radius: var(--size__xs);
  color: var(--color__base);
  display: block;
  font-family: inherit;
  font-weight: inherit;
  max-width: 100%;
  width: 100%;
}
[data-theme="dark"] input[type="email"],
[data-theme="dark"] input[type="number"],
[data-theme="dark"] input[type="password"],
[data-theme="dark"] input[type="search"],
[data-theme="dark"] input[type="tel"],
[data-theme="dark"] input[type="text"],
[data-theme="dark"] input[type="url"],
[data-theme="dark"] input[type="color"],
[data-theme="dark"] input[type="date"],
[data-theme="dark"] input[type="datetime"],
[data-theme="dark"] input[type="datetime-local"],
[data-theme="dark"] input[type="month"],
[data-theme="dark"] input[type="time"],
[data-theme="dark"] input[type="week"],
[data-theme="dark"] select,
[data-theme="dark"] textarea {
  background-color: var(--color__contrast--extra);
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select,
textarea,
button,
[data-component="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-style: solid;
  border-width: var(--size__xxs);
  min-height: var(--typeLineheight__xl);
  padding: var(--size__xs) var(--size__m);
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus,
button:focus,
[data-component="button"]:focus {
  -webkit-box-shadow: 0 0 0 var(--size__xxs) var(--color__focus);
  box-shadow: 0 0 0 var(--size__xxs) var(--color__focus);
  outline: none;
}

input[type="email"]:invalid:required,
input[type="number"]:invalid:required,
input[type="password"]:invalid:required,
input[type="search"]:invalid:required,
input[type="tel"]:invalid:required,
input[type="text"]:invalid:required,
input[type="url"]:invalid:required,
input[type="color"]:invalid:required,
input[type="date"]:invalid:required,
input[type="datetime"]:invalid:required,
input[type="datetime-local"]:invalid:required,
input[type="month"]:invalid:required,
input[type="time"]:invalid:required,
input[type="week"]:invalid:required,
select:invalid:required,
textarea:invalid:required {
  -webkit-box-shadow: 0 0 0 var(--size__xxs) var(--color__invalid);
  box-shadow: 0 0 0 var(--size__xxs) var(--color__invalid);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--color__base--semi);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--color__base--semi);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--color__base--semi);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: var(--color__base--semi);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--color__base--semi);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--color__base--semi);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--color__base--semi);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: var(--color__base--semi);
}

input::placeholder,
textarea::placeholder {
  color: var(--color__base--semi);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin: 0;
  min-height: auto;
  padding: 0;
  width: auto;
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  -webkit-box-shadow: 0 0 0 var(--size__xxs) var(--color__focus);
  box-shadow: 0 0 0 var(--size__xxs) var(--color__focus);
  outline: none;
}
input[type="checkbox"]:invalid:required,
input[type="radio"]:invalid:required {
  -webkit-box-shadow: 0 0 0 var(--size__xxs) var(--color__invalid);
  box-shadow: 0 0 0 var(--size__xxs) var(--color__invalid);
  outline: none;
}

input[disabled],
input[readonly] {
  cursor: not-allowed;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="file"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  background-color: auto;
  cursor: pointer;
  display: inline-block;
  height: auto;
  width: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}

option {
  width: 100%;
}

textarea {
  min-height: calc(var(--typeLineheight__l) * 2);
  resize: vertical;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
}

figure {
  margin: 0;
}

picture,
img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

[data-component="button"] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: calc(var(--size__s) + var(--size__m));
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
}
[data-component="button"][data-variant="primary"] {
  background-color: var(--color__base);
  border-color: var(--color__base);
  color: white;
  -webkit-transition: 0.375s ease-in;
  -o-transition: 0.375s ease-in;
  transition: 0.375s ease-in;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}
[data-component="button"][data-variant="primary"]:focus,
[data-component="button"][data-variant="primary"]:hover {
  background-color: var(--color__base--ish);
}
[data-component="button"][data-variant="secondary"] {
  background-color: var(--color__contrast);
  border-color: var(--color__base--semi);
  color: var(--color__base--mid);
  -webkit-transition: 0.375s ease-in;
  -o-transition: 0.375s ease-in;
  transition: 0.375s ease-in;
  -webkit-transition-property: border-color color;
  -o-transition-property: border-color color;
  transition-property: border-color color;
}
[data-component="button"][data-variant="secondary"]:focus,
[data-component="button"][data-variant="secondary"]:hover {
  border-color: var(--color__base--mid);
  color: var(--color__base);
}
[data-component="button"][data-variant="tertiary"] {
  background-color: transparent;
  border-color: transparent;
  color: var(--color__base--mid);
  padding-left: 0;
  padding-right: 0;
  -webkit-transition: 0.375s ease-in;
  -o-transition: 0.375s ease-in;
  transition: 0.375s ease-in;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
[data-component="button"][data-variant="tertiary"]:focus,
[data-component="button"][data-variant="tertiary"]:hover {
  color: var(--color__brand);
}
[data-component="button"][data-variant="tertiary"]:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

[data-component="input-inline"] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

input[type="checkbox"][data-component="checkbox"] {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: var(--size__m);
  margin-left: calc(var(--size__m) * -1);
  opacity: 0;
  width: var(--size__m);
}
input[type="checkbox"][data-component="checkbox"] + label {
  --color: var(--color__brand);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}
input[type="checkbox"][data-component="checkbox"] + label:hover {
  cursor: pointer;
}
input[type="checkbox"][data-component="checkbox"] + label:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' height='16' width='16'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M12 4l-5.333 8L4 8'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(var(--size__s) + var(--size__xs));
  content: "";
  display: inline-block;
  height: calc(var(--size__m) + var(--size__xxs));
  left: 0;
  opacity: 0;
  position: absolute;
  top: calc(var(--size__xs) + (var(--size__xs) / 2));
  -webkit-transform: scale(1.125);
  -ms-transform: scale(1.125);
  transform: scale(1.125);
  -webkit-transition: 0.25s ease-in;
  -o-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  -webkit-transition-property: opacity transform;
  -o-transition-property: opacity transform;
  transition-property: opacity transform;
  width: calc(var(--size__m) + var(--size__xxs));
}
input[type="checkbox"][data-component="checkbox"] + label:before {
  background-color: var(--color__contrast);
  border: var(--size__xxs) solid var(--color__base--semi);
  border-radius: var(--size__xs);
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: var(--size__m);
  margin-right: var(--size__s);
  margin-top: calc(var(--size__xs) + (var(--size__xs) / 2));
  -webkit-transition: 0.375s ease-in;
  -o-transition: 0.375s ease-in;
  transition: 0.375s ease-in;
  -webkit-transition-property: background-color border-color;
  -o-transition-property: background-color border-color;
  transition-property: background-color border-color;
  width: var(--size__m);
}
[data-theme="dark"]
  input[type="checkbox"][data-component="checkbox"]
  + label:before {
  background-color: var(--color__contrast--extra);
}
input[type="checkbox"][data-component="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
input[type="checkbox"][data-component="checkbox"]:checked + label:before {
  background-color: var(--color);
}
input[type="checkbox"][data-component="checkbox"]:checked:disabled
  + label:after {
  -webkit-filter: invert(0.25);
  filter: invert(0.25);
}
input[type="checkbox"][data-component="checkbox"]:disabled + label:before {
  background-color: var(--color__base--ghost);
  border-color: var(--color__base--light);
}
input[type="checkbox"][data-component="checkbox"]:disabled + label:hover {
  cursor: not-allowed;
}
input[type="checkbox"][data-component="checkbox"]:focus + label:before {
  border-color: var(--color__focus);
}
input[type="checkbox"][data-component="checkbox"]:invalid:required
  + label:before {
  -webkit-box-shadow: 0 0 0 var(--size__xxs) var(--color__invalid);
  box-shadow: 0 0 0 var(--size__xxs) var(--color__invalid);
}
input[type="checkbox"][data-component="checkbox"]:indeterminate + label:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' height='16' width='16'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M12 8H4'/%3E%3C/svg%3E");
}

input[type="radio"][data-component="radio"] {
  height: var(--size__m);
  margin-left: calc(var(--size__m) * -1);
  opacity: 0;
  width: var(--size__m);
}
input[type="radio"][data-component="radio"] + label {
  --color: var(--color__brand);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
input[type="radio"][data-component="radio"] + label:hover {
  cursor: pointer;
}
input[type="radio"][data-component="radio"] + label:before {
  background-color: var(--color__contrast);
  border: var(--size__xxs) solid var(--color__base--semi);
  border-radius: 50%;
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: var(--size__m);
  margin-right: var(--size__s);
  -webkit-transition: all 0.375s ease-in;
  -o-transition: all 0.375s ease-in;
  transition: all 0.375s ease-in;
  width: var(--size__m);
}
[data-theme="dark"] input[type="radio"][data-component="radio"] + label:before {
  background-color: var(--color__contrast--extra);
}
input[type="radio"][data-component="radio"]:checked + label:before {
  background-color: var(--color);
  -webkit-box-shadow: inset 0 0 0 calc(var(--size__xs) / 2)
    var(--color__contrast);
  box-shadow: inset 0 0 0 calc(var(--size__xs) / 2) var(--color__contrast);
}
input[type="radio"][data-component="radio"]:checked:disabled + label:before {
  background-color: var(--color__base--semi);
}
input[type="radio"][data-component="radio"]:disabled + label:before {
  background-color: var(--color__base--light);
}
input[type="radio"][data-component="radio"]:disabled + label:hover {
  cursor: not-allowed;
}
input[type="radio"][data-component="radio"]:focus + label:before {
  border-color: var(--color__focus);
}
input[type="radio"][data-component="radio"]:invalid:required + label:before {
  -webkit-box-shadow: 0 0 0 var(--size__xxs) var(--color__invalid);
  box-shadow: 0 0 0 var(--size__xxs) var(--color__invalid);
}

input[type="checkbox"][data-component="toggle"] {
  height: var(--size__m);
  margin-left: calc(var(--size__m) * -1);
  opacity: 0;
  width: var(--size__m);
}
input[type="checkbox"][data-component="toggle"] + label {
  --color: var(--color__valid);
  --size: calc(var(--size__m) + var(--size__s));
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}
input[type="checkbox"][data-component="toggle"] + label:hover {
  cursor: pointer;
}
input[type="checkbox"][data-component="toggle"] + label:after {
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0 var(--size__xs) var(--size__s)
    calc(var(--size__xs) * -1) rgba(0, 0, 0, 0.5);
  box-shadow: 0 var(--size__xs) var(--size__s) calc(var(--size__xs) * -1)
    rgba(0, 0, 0, 0.5);
  content: "";
  display: inline-block;
  height: var(--size);
  left: var(--size__xxs);
  position: absolute;
  top: 0.25rem;
  -webkit-transition: -webkit-transform 0.375s ease-in;
  transition: -webkit-transform 0.375s ease-in;
  -o-transition: transform 0.375s ease-in;
  transition: transform 0.375s ease-in;
  transition: transform 0.375s ease-in, -webkit-transform 0.375s ease-in;
  width: var(--size);
}
input[type="checkbox"][data-component="toggle"] + label:before {
  background-color: var(--color__base--light);
  border: var(--size__xxs) solid var(--color__base--semi);
  border-radius: var(--size);
  content: "";
  display: inline-block;
  height: var(--size);
  margin-right: var(--size__s);
  -webkit-transition: all 0.375s ease-in;
  -o-transition: all 0.375s ease-in;
  transition: all 0.375s ease-in;
  width: calc(var(--size__l) + var(--size__s));
}
input[type="checkbox"][data-component="toggle"]:checked + label:before {
  background-color: var(--color);
}
input[type="checkbox"][data-component="toggle"]:checked + label:after {
  -webkit-transform: translateX(var(--size__m));
  -ms-transform: translateX(var(--size__m));
  transform: translateX(var(--size__m));
}
input[type="checkbox"][data-component="toggle"]:checked:disabled
  + label:before {
  background-color: var(--color__base--semi);
}
input[type="checkbox"][data-component="toggle"]:disabled + label:after {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type="checkbox"][data-component="toggle"]:disabled + label:before {
  border-color: var(--color__base--light);
}
input[type="checkbox"][data-component="toggle"]:disabled + label:hover {
  cursor: not-allowed;
}
input[type="checkbox"][data-component="toggle"]:focus + label:before {
  border-color: var(--color__focus);
}

[data-component="select"] {
  position: relative;
}
[data-component="select"] svg {
  color: var(--color__base--semi);
  right: var(--size__m);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.375s ease-in;
  -o-transition: all 0.375s ease-in;
  transition: all 0.375s ease-in;
}
[data-component="select"]:focus-within svg {
  color: var(--color__base--mid);
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

[data-component="disclosure"] {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: var(--size__xxs) solid var(--color__base--light);
  border-top: var(--size__xxs) solid var(--color__base--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  padding: var(--size__s) 0;
  width: 100%;
}
[data-component="disclosure"] input[type="checkbox"] {
  height: var(--size__m);
  margin-left: calc(var(--size__m) * -1);
  opacity: 0;
  width: var(--size__m);
}
[data-component="disclosure"] input[type="checkbox"]:checked + label + * {
  height: 100%;
  margin-top: var(--size__s);
  opacity: 1;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
[data-component="disclosure"] input[type="checkbox"]:checked + label svg {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
[data-component="disclosure"]:focus-within svg {
  color: var(--color__base--mid);
}
[data-component="disclosure"] label {
  position: relative;
  width: 100%;
}
[data-component="disclosure"] label:hover {
  cursor: pointer;
}
[data-component="disclosure"] label span {
  position: absolute;
  right: var(--size__s);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
[data-component="disclosure"] label svg {
  color: var(--color__base--semi);
  -webkit-transition: 0.375s ease-in;
  -o-transition: 0.375s ease-in;
  transition: 0.375s ease-in;
  -webkit-transition-property: color transform;
  -o-transition-property: color transform;
  transition-property: color transform;
}
[data-component="disclosure"] label + * {
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.375s ease-in;
  -o-transition: opacity 0.375s ease-in;
  transition: opacity 0.375s ease-in;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}
