<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="Jared Pendergraft">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <meta name="description" content="site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ "/img/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <link rel="mask-icon" href="{{ "/img/website_icon.svg" | prepend: site.baseurl }}" color="#BF9F00">
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:title" content="{{ site.title }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta property="og:url" content="{{ site.url }}"/>
  <meta property="og:image" content="{{ "/img/social.jpg" | prepend: site.url }}"/>
  <meta name="twitter:card" content="photo">
  <meta name="twitter:creator" content="@jaredpdesigns">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:domain" content="{{ site.url }}">
  <meta name="twitter:image:src" content="{{ "/img/social.jpg" | prepend: site.url }}">
</head>
<body>
<header>
  <section class="intro color__bg--highlight">
    <section class="wrapper type__align--center color__type--white">
      {% include svg/pasta-logo.svg %}
      <h1 class="type__align--legible">Pasta</h1>
      <h3 class="type__align--legible color__type--highlight-25"><em>Simply Delicious</em></h3>
    </section>
  </section>
  <section class="preamble color__bg--highlight-5">
    <section class="wrapper">
      <p>{{ site.description }}</p>
      <p class="type__align--center">
        <a class="btn" href="https://github.com/jaredpdesigns/pasta/releases/download/v2.0/pasta-v2.0.zip">Download Pasta&nbsp;{% include svg/arrow.svg %}</a>
      </p>
    </section>
  </section>
</header>
<main class="wrapper">  