// Typography

html {
  font-size: 100%;
  background: $color-bg;
  
  // Want all elements a bit larger on big displays, uncomment the line below (yay REMs):
  // @include bp(xxl) { font-size: 112.5%; }
}

body {
  @include type-sans;
  color: $color-base;
}

h1 {
  @include type-xl;
  &.big { @include type-xxl; }
}

h2 { @include type-l; }

p, li, h3 { @include type-m; }

p { @include type-serif; }

li { margin-bottom: 0; }

h4 { @include type-s; }

h5 {
  @include type-xs;
  @include all-caps;
}

b, strong { @include bold; }

i, em { @include italic; }

abbr { font-variant: small-caps; }

.text-center { @include text-center; }

.text-left { @include text-left; }

.text-right { @include text-right; }

pre, code { @include type-mono; }

code {
  padding: 0.125rem 0.25rem;
  font-size: 125%;
}

pre code {
  @include type-m;
  display: block;
  padding-left: $space-s;
  padding-right: $space-s;
  overflow: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

// Links

a {
  &:hover {
    color: $color-highlight;
    border-color: $color-highlight;
  }
}
p a {
  border-bottom: $border $color-highlight;
  padding-bottom: 0.1875rem;
  @include bp(xs) { padding-bottom: 0; }
}

// List Items

ul, ol {
  &.bullets,&.numbers { list-style-position: inside; }
  &.bullets li { list-style-type: circle; }
  &.numbers li { list-style-type: decimal; }
  @include bp(l) {
    &.bullets,&.numbers {
      list-style-position: outside;
      padding-left: 1.75rem;
    }
  }
}

dl {
  & dt, dd {
    @include type-m;
    margin-bottom: 0;
  }
  & dt { @include bold; }
}

// Forms

form {
  & label {
    @include type-xs;
    @include bold;
    @include all-caps;
    margin-top: $space-s;
    &:first-of-type { margin-top: 0; }
  }
  & input[type="email"], input[type="number"], input[type="password"],
    input[type="search"], input[type="tel"], input[type="text"], input[type="url"],
    input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"],
    input[type="month"], input[type="time"], input[type="week"], select, textarea {
    @include type-s;
    padding: $space-xs $space-s;
    border: $border rgba($color-base,0.25);
    &:hover { border-color: rgba($color-base,0.5); }
    &:focus { border-color: rgba($color-base,0.75); }
  }
  & textarea {
    @include type($type-m,1);
    min-height: $space-xl;
  }
  & .select {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    &:after {
      content: '';
      border-left: $space-xs solid transparent;
      border-right: $space-xs solid transparent;
      border-top: $space-xs solid rgba($color-base,0.5);
      border-style: solid;
      border-width: $space-xs $space-xs 0 $space-xs;
      border-color: rgba($color-base,0.25) transparent transparent transparent;
      display: block;
      position: absolute;
      right: $space-s;
      top: $space-m;
    }
  }
  & .radio, .checkbox {
    & input[type="radio"], input[type="checkbox"] {
      @include type-s;
      margin-right: $space-s;
    }
    & label {
      @include type-s;
      font-weight: normal;
      text-transform: none;
      margin: 0;
      cursor: pointer;
    }
    &.inline label {
      display: inline-block;
      margin-right: 0.9375rem;
    }
  }  
  & input[type="button"] { @include btn; margin-top: $space-s; }
  @include bp(ml) {
    & input[type="email"], input[type="number"], input[type="password"],
    input[type="search"], input[type="tel"], input[type="text"], input[type="url"],
    input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"],
    input[type="month"], input[type="time"], input[type="week"], select, textarea {
      @include type-m;
    }
  }
}

@-moz-document url-prefix() { 
	form {
	  & input[type="email"], input[type="number"], input[type="password"],
      input[type="search"], input[type="tel"], input[type="text"], input[type="url"],
      input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"],
      input[type="month"], input[type="time"], input[type="week"], select, input[type="button"] { min-height: em(36); }
	  & option { padding-left: $space-s; padding-right: $space-s; }
  }
}

// Tables

table {
  table-layout: fixed;
  width: 100%;
  & th, td {
    padding: $space-s;
    @include text-left;
  }
  & th { border-bottom: $border rgba($color-base,0.25); }
  & td { border-bottom: $border rgba($color-base,0.10); }
  & tbody > tr:hover { background: rgba($color-base,0.05); }
  @include bp(ml) {
    & th, td { padding: $space-m; }
  }
}

// Page Structure

.wrapper { @include wrapper; }

figure {
	position:relative;
	& img, video, iframe, object {
	  max-width: 100%;
	  height: auto;
	  display: block;
  }
}

button { @include btn; }

// Grids
// If you're good to go with the defaults, just use these classes inline with your markup — if you need more fine-tuning, use the '$grid-' variables for adjusting content in your CSS

[class^="grid-"] {
  @include grid;
  @include left;
  @include bp(xs) { width: 100%; }
}

.grid-nest { padding: 0; }
.grid-1-1 { width: 100%; }

@include bp(xs) {
  .grid-1-4 { width: $grid-1-2; }
  .grid-1-6 { width: $grid-1-3; }
}
@include bp(s) {
  .grid-3-4 { width: $grid-3-4; }
  .grid-2-3 { width: $grid-2-3; }
  .grid-1-2 { width: $grid-1-2; }
  .grid-1-3 { width: $grid-1-3; }
  .grid-1-4 { width: $grid-1-4; }
  .grid-1-6 { width: $grid-1-6; }
}