
.hammer-ignore

assets/css/style.scss

assets/img/_pasta-art.sketch/Data

assets/img/_pasta-art.sketch/metadata

assets/img/_pasta-art.sketch/version

*.png

*.ico

assets/img/topper-pasta.svg

Build/Icon

*.html

Build/Icon
