
assets/img/_pasta-art.sketch/Data

assets/img/_pasta-art.sketch/metadata

assets/img/_pasta-art.sketch/version

Icon

Icon

Icon

assets/img/pasta/_pasta-art.sketch/Data

assets/img/pasta/_pasta-art.sketch/metadata

assets/img/pasta/_pasta-art.sketch/version
