@layer props {
  ::backdrop {
    --bg: color-mix(in oklab,
        var(--color__contrast--extra),
        transparent 38%);
    --blur: 4px;
  }
}

@layer config {
  ::backdrop {
    background-color: var(--bg);
    backdrop-filter: blur(var(--blur));
  }
}