@layer config {

  code,
  pre {
    --bg: var(--color__contrast--extra);
    --color: white;
  }

  code {
    font-family: var(--type__family--tertiary);
    font-size: var(--type__size--s);
    line-height: var(--type__lineheight--m);

    * & {
      background-color: var(--bg);
      border-radius: var(--size__xs);
      box-decoration-break: clone;
      color: var(--color);
      padding: var(--size__xs) var(--size__s);
      word-wrap: break-word;
    }

    pre>& {
      -webkit-overflow-scrolling: touch;
      background: none;
      display: block;
      max-width: 100%;
      overflow-x: scroll;
      padding: var(--size__m);
      white-space: pre;
    }
  }

  pre {
    background-color: var(--bg);
    border-radius: var(--size__s);
    color: var(--color);

    .comment,
    .prolog,
    .doctype,
    .cdata,
    .namespace,
    .operator,
    .function {
      opacity: 0.75;
    }

    .parameter,
    .property,
    .boolean,
    .number {
      color: var(--color__primary, var(--color__eggplant));
    }

    .selector,
    .attr-name,
    .string,
    .char,
    .builtin,
    .inserted,
    .atrule,
    .attr-value,
    .class-name,
    .regex,
    .important {
      color: var(--color__secondary, var(--color__basil));
    }

    .tag,
    .constant,
    .symbol,
    .deleted,
    .keyword {
      color: var(--color__tertiary, var(--color__contrast--fixed));
    }

    .important,
    .bold {
      font-weight: bold;
    }

    .italic {
      font-style: italic;
    }
  }
}