@layer props {
  :root {
    --shadow__color: var(--color__hue--base);
    --shadow__value: 0.375;
    --shadow: 0 var(--size__xxs) var(--size__xs) calc(var(--size__xxs) * -1)
        hsl(var(--shadow__color) / calc(var(--shadow__value) / 2)),
      0 var(--size__m) var(--size__l) calc(var(--size__m) * -1)
        hsl(var(--shadow__color) / var(--shadow__value));
    --shadow__all: 0 0 var(--size__xxs)
        hsl(var(--shadow__color) / calc(var(--shadow__value) / 2)),
      0 0 var(--size__l) hsl(var(--shadow__color) / var(--shadow__value));

    @media screen and (prefers-color-scheme: dark) {
      --shadow__color: 0deg 0% 0%;
      --shadow__value: 0.75;
    }
  }
}

@layer helpers {
  .shadow {
    box-shadow: var(--shadow);
    &__all {
      box-shadow: var(--shadow__all);
    }
    &__none {
      box-shadow: none;
    }
  }
}
