@layer props {
  :root {
    @media screen and (prefers-color-scheme: light) {
      --shadow__strength: 75%;
      --shadow__color: hsl(var(--color__hue--base) var(--shadow__strength));
      --shadow__value: 0.375;
    }

    &[data-theme="light"] {
      --shadow__strength: 75%;
      --shadow__color: hsl(var(--color__hue--base) var(--shadow__strength));
      --shadow__value: 0.375;
    }

    @media screen and (prefers-color-scheme: dark) {
      --shadow__color: hsl(0deg 0% 0%);
      --shadow__value: 0.75;
    }

    &[data-theme="dark"] {
      --shadow__color: hsl(0deg 0% 0%);
      --shadow__value: 0.625;
    }

    --shadow: 0 var(--size__xxs) var(--size__xs) calc(var(--size__xxs) * -1) color-mix(in srgb, var(--shadow__color), transparent calc(var(--shadow__value) * 100%)),
    0 var(--size__m) var(--size__l) calc(var(--size__m) * -1) color-mix(in srgb, var(--shadow__color), transparent calc(var(--shadow__value) * 100%));
    --shadow__all: 0 0 var(--size__xxs) color-mix(in srgb, var(--shadow__color), transparent calc(var(--shadow__value) * 100%)),
    0 0 var(--size__l) color-mix(in srgb, var(--shadow__color), transparent calc(var(--shadow__value) * 100%));
  }
}

@layer helpers {
  .shadow {
    box-shadow: var(--shadow);

    &__all {
      box-shadow: var(--shadow__all);
    }

    &__none {
      box-shadow: none;
    }
  }
}