---
layout: layouts/base.njk
---

<nav class="flow__align--h-start flow__align--v-center flow__flex flow__size--h-xxxl">
  <p>
    <a class="flow__align--v-center flow__gap--s flow__inline" href="/">{% Icon "arrow-left" %}Return to Overview</a>
  </p>
</nav>

{{ content | safe }}