@layer pasta, project;

@import url("/pasta/pasta.css") layer(pasta);

@layer project {
  :root {
    --maxWidth: var(--width__l);

    @media (min-width: 120rem) {
      --maxWidth: var(--width__l);
    }
  }

  body {
    > header,
    > footer {
      > section {
        inline-size: 100%;
        max-inline-size: var(--maxWidth);
        padding-inline-start: env(safe-area-inset-left);
        padding-inline-end: env(safe-area-inset-right);
      }
    }

    > header {
      --outline__color: hsl(0deg 0% 100%/0.25);
      color: white;
      position: sticky;
      top: 0;
      z-index: 1;

      nav {
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          inline-size: 0 !important;
          display: none;
        }
      }

      a {
        border-radius: var(--size__xs);
        color: inherit;
        text-decoration: none;
        transition: opacity 0.375s ease-in;

        &:focus,
        &:hover {
          opacity: 0.75;
        }

        &[aria-current="page"] {
          text-decoration: underline;
          text-decoration-color: hsl(0deg 0% 100% / 0.25);
          text-underline-offset: var(--size__s);
        }
      }

      button {
        --color__type: inherit;
      }
    }
  }

  article {
    display: grid;
    gap: var(--size__l);
    inline-size: 100%;
    margin-inline: auto;
    max-inline-size: var(--maxWidth);
    padding: var(--size__l);

    > * {
      min-inline-size: 0;
      scroll-margin-top: calc(var(--size__xxxl) * 2);

      + hr {
        margin-top: var(--size__xxl);
      }
    }

    > blockquote:first-child + hr {
      margin-top: unset;
    }

    > p:empty {
      display: none;
    }
  }

  code,
  pre {
    --color__primary: hsl(260, 64%, 75%);
    --color__secondary: hsl(190, 64%, 75%);
    --color__tertiary: hsl(158, 90%, 75%);
  }
}
