// Variables
$colors: (
  base,
  base--ish,
  base--mid,
  base--semi,
  base--light,
  base--ghost,
  highlight,
  highlight--ish,
  highlight--mid,
  highlight--semi,
  highlight--light,
  highlight--ghost,
  contrast,
  contrast--extra
);

$directions: (bottom, left, right, top);

$sizes: (
  xxs: 0.0625rem,
  xs: 0.25rem,
  s: 0.5rem,
  m: 1rem,
  l: 2rem,
  xl: 2.5rem,
  xxl: 3rem,
  xxxl: 4rem,
);

$type__sizes: (
  xxs: clamp(0.625rem, var(--type__size--target), 0.75rem),
  xs: clamp(0.75rem, var(--type__size--target), 0.875rem),
  s: clamp(0.875rem, var(--type__size--target), 1rem),
  m: clamp(1rem, var(--type__size--target), 1.125rem),
  l: clamp(1.125rem, var(--type__size--target), 1.375rem),
  xl: clamp(1.5rem, var(--type__size--target), 2rem),
  xxl: clamp(2rem, var(--type__size--target), 2.5rem),
  xxxl: clamp(2.5rem, var(--type__size--target), 3rem),
  xxxxl: clamp(3rem, var(--type__size--target), 3.5rem),
);

$type__lineheights: (
  xs: clamp(0.75rem, var(--type__size--target), 1rem),
  s: clamp(1rem, var(--type__size--target), 1.25rem),
  m: clamp(1.25rem, var(--type__size--target), 1.5rem),
  l: clamp(1.5rem, var(--type__size--target), 2rem),
  xl: clamp(2rem, var(--type__size--target), 2.5rem),
  xxl: clamp(2.5rem, var(--type__size--target), 2.75rem),
  xxxl: clamp(2.75rem, var(--type__size--target), 3rem),
  xxxxl: clamp(3.25rem, var(--type__size--target), 3.5rem),
);

$type__weights: (
  light: 300,
  normal: normal,
  semibold: 600,
  bold: bold,
);

$widths: (
  xxs: 10rem,
  xs: 15rem,
  s: 20rem,
  m: 30rem,
  ml: 40rem,
  l: 60rem,
  xl: 80rem,
  xxl: 105rem,
  xxxl: 152rem,
);

// Mixins
@mixin colorBase($hue, $saturation, $lightness) {
  --color__hue--base: #{$hue}, #{$saturation}, #{$lightness};
  --color__base: hsl(var(--color__hue--highlight));
  --color__base--ish: hsla(var(--color__hue--highlight), 0.75);
  --color__base--mid: hsla(var(--color__hue--highlight), 0.625);
  --color__base--semi: hsla(var(--color__hue--highlight), 0.25);
  --color__base--light: hsla(var(--color__hue--highlight), 0.125);
  --color__base--ghost: hsla(var(--color__hue--highlight), 0.0625);
}

@mixin colorHighlight($hue, $saturation, $lightness) {
  --color__hue--highlight: #{$hue}, #{$saturation}, #{$lightness};
  --color__highlight: hsl(var(--color__hue--highlight));
  --color__highlight--ish: hsla(var(--color__hue--highlight), 0.75);
  --color__highlight--mid: hsla(var(--color__hue--highlight), 0.625);
  --color__highlight--semi: hsla(var(--color__hue--highlight), 0.25);
  --color__highlight--light: hsla(var(--color__hue--highlight), 0.125);
  --color__highlight--ghost: hsla(var(--color__hue--highlight), 0.0625);
}

@mixin buildColor($name, $hue, $saturation, $lightness) {
  $colorsCustom: (
    #{$name}: hsl(var(--color__hue--#{$name})),
    #{$name}--ish: hsla(var(--color__hue--#{$name}), 0.75),
    #{$name}--mid: hsla(var(--color__hue--#{$name}), 0.625),
    #{$name}--semi: hsla(var(--color__hue--#{$name}), 0.25),
    #{$name}--light: hsla(var(--color__hue--#{$name}), 0.125),
    #{$name}--ghost: hsla(var(--color__hue--#{$name}), 0.0625)
  );
  :root {
    --color__hue--#{$name}: #{$hue}, #{$saturation}, #{$lightness};
    @each $key, $value in $colorsCustom {
      --color__#{$key}: #{$value};
    }
  }
  @each $colorName, $colorValue in $colorsCustom {
    .color__bg--#{$colorName} {
      background-color: var(--color__#{$colorName});
    }
  }
  @each $colorName, $colorValue in $colorsCustom {
    .color__border--#{$colorName} {
      border-color: var(--color__#{$colorName});
    }
  }
  @each $colorName, $colorValue in $colorsCustom {
    .color__type--#{$colorName} {
      color: var(--color__#{$colorName});
    }
  }
}

@mixin svgBG($path, $color, $opacity: 1, $size: 14, $viewbox: 0 0 32 32) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='#{$size}' height='#{$size}' viewBox='#{$viewbox}'%3E%3Cpath fill='#{$color}' opacity='#{$opacity}' d='#{$path}'%3E%3C/path%3E%3C/svg%3E");
}
