@import "@jaredpdesigns/pasta";

/* Site specific stuff */
@include buildColor(success, 158deg, 64%, 50%);
@include buildColor(warn, 32deg, 90%, 64%);
@include buildColor(error, 0deg, 90%, 50%);

:root {
  --type__family--primary: "Satoshi", sans-serif;
  --type__family--secondary: "Cabinet Grotesk", sans-serif;
  --type__family--tertiary: "Source Code Pro", monospace;
  &[data-theme="dark"] {
    --color__hue--base: 218deg 100% 100%;
    --color__hue--contrast: 218deg 32% 12%;
    --color__hue--contrast--extra: 218deg 32% 8%;
    --shadow__color: 0deg 0% 0%;
    --shadow__value: 0.75;
  }
}

:root[data-theme="dark"] {
  form {
    --color__contrast: var(--color__contrast--extra);
    select {
      @include svgBG(
        "M16.0000258,16.5154845 L22.7701434,8.9931316 C23.8785204,7.76160154 25.7753899,7.6617663 27.00692,8.77014336 C28.2384501,9.87852042 28.3382853,11.7753899 27.2299082,13.00692 L18.2299082,23.00692 C17.0381813,24.3310611 14.9618703,24.3310611 13.7701434,23.00692 L4.77014336,13.00692 C3.6617663,11.7753899 3.76160154,9.87852042 4.9931316,8.77014336 C6.22466167,7.6617663 8.12153118,7.76160154 9.22990824,8.9931316 L16.0000258,16.5154845 Z",
        white,
        "0.5"
      );
    }
  }
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--size__xxs);
}

h1,
h2,
h3,
h4,
h5,
h6,
.button__primary,
.button__secondary,
.button__tertiary {
  font-family: var(--type__family--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
table th,
.control__input legend,
.control__select legend,
.control__checkbox legend,
.control__radio legend,
.control__toggle legend,
.control__input label,
.control__select label,
.type__weight--bold {
  font-weight: 800;
}

.button__primary,
.button__secondary,
.button__tertiary,
p a {
  font-weight: 600;
  transition: 0.375s ease-in;
  transition-property: background-color, color;
}

body {
  header {
    color: white;
    grid-template-columns: 1fr min(75ch, calc(100% - var(--size__l) * 2)) 1fr;
    position: sticky;
    top: 0;
    z-index: 100;
    a {
      --outline__color: hsla(0, 100%, 100%, 0.25);
    }
    nav {
      grid-column: 2;
      section {
        column-gap: var(--size__l);
      }
    }
    button {
      --outline__color: hsla(0, 100%, 100%, 0.25);
      order: 1;
      &:focus,
      &:hover {
        color: white !important;
      }
    }
  }
}

code,
pre {
  --color__primary: hsl(260, 64%, 75%);
  --color__secondary: hsl(190, 64%, 75%);
  --color__tertiary: hsl(158, 90%, 75%);
}

.error {
  @include colorHighlight(0, 90%, 50%);
}

article {
  grid-template-columns: 1fr min(75ch, calc(100% - var(--size__l) * 2)) 1fr;
  > * {
    grid-column: 2;
  }
  padding-bottom: var(--size__xxxl);
  .preamble {
    grid-column: 1/-1;
    grid-template-columns: inherit;
    > * {
      grid-column: 2;
    }
  }
  hr {
    margin-top: var(--size__xxxl) !important;
    + * {
      margin-top: var(--size__m) !important;
    }
  }
  --columnWidth: var(--width__xs);
  dl {
    @media (max-width: 29rem) {
      dd + dt {
        border-top: var(--size__xxs) solid var(--color__base--light);
        margin-top: var(--size__m);
        padding-top: var(--size__s);
      }
    }
    @media (min-width: 29rem) {
      display: grid;
      grid-template-columns: auto 1fr;
      dt,
      dd {
        border-top: var(--size__xxs) solid var(--color__base--light);
        padding: var(--size__s);
      }
      dd {
        padding-left: var(--size__l);
      }
    }
  }
}

.note {
  position: relative;
  > span {
    left: 0;
    position: absolute;
    top: calc(var(--size__m) + var(--size__xs));
    transform: translateX(-50%);
    + * {
      margin-top: 0 !important;
    }
  }
}

.notch {
  @supports (padding: max(0px)) {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
