---
title: Accent Color Test
description: A test of `accent-color` support
layout: layouts/component.njk
class: accentColor
jsExtra: scripts/accentColor.js
---
<header class="oomph__v--m">
  <h1>Accent Color Test</h1>
  <p>A test page for <code>accent-color</code> support</p>
  <hr/>
</header>
<section class="oomph__v--m">
  <p>
    <code>Input</code>
  </p>
  <section class="flow__align--v-center flow__gap--s flow__flex">
    <input class="width__full" aria-label="Input" id="input" type="text" placeholder="Enter something…"/>
  </section>
</section>
<section class="oomph__v--m">
  <p>
    <code>Select</code>
  </p>
  <section class="flow__align--v-center flow__gap--s flow__flex">
    <select class="width__full">
      <option selected>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select>
  </section>
</section>
<section class="oomph__v--m">
  <p>
    <code>Checkbox</code>
  </p>
  <section class="flow__align--v-center flow__gap--s flow__flex">
    <input id="checkboxUnchecked" type="checkbox">
    <label for="checkboxUnchecked">Unchecked</label>
  </section>
  <section class="flow__align--v-center flow__gap--s flow__flex">
    <input id="checkboxUncheckedDisabled" disabled type="checkbox">
    <label for="checkboxUncheckedDisabled">Unchecked [disabled]</label>
  </section>
  <section class="flow__align--v-center flow__gap--s flow__flex">
    <input id="checkboxChecked" checked type="checkbox">
    <label for="checkboxChecked">Checked</label>
  </section>
  <section class="flow__align--v-center flow__gap--s flow__flex">
    <input id="checkboxCheckedDisabled" checked disabled type="checkbox">
    <label for="checkboxCheckedDisabled">Checked [disabled]</label>
  </section>
  <section class="flow__align--v-center flow__gap--s flow__flex">
    <input id="checkboxIndeterminate" type="checkbox">
    <label for="checkboxIndeterminate">Indeterminate</label>
  </section>
</section>
<section class="oomph__v--m">
  <p>
    <code>Radio</code>
  </p>
  <section class="flow__align--v-center flow__gap--s flow__flex">
    <input type="radio" id="radioChecked" name="radios" value="radioChecked" checked>
    <label for="radioChecked">Checked</label>
  </section>
  <section class="flow__align--v-center flow__gap--s flow__flex">
    <input type="radio" id="radioUnchecked" name="radios" value="radioUnchecked">
    <label for="radioUnchecked">Unchecked</label>
  </section>
  <section class="flow__align--v-center flow__gap--s flow__flex">
    <input type="radio" id="radioUncheckedDisabled" name="radios" value="radioUncheckedDisabled" disabled>
    <label for="radioUncheckedDisabled">Unchecked [disabled]</label>
  </section>
</section>
<section class="oomph__v--m">
  <p>
    <code>Range</code>
  </p>
  <section class="flow__align--v-center flow__gap--s flow__flex">
    <input type="range" id="rangeHalf" name="volume" min="0" max="11" value="5">
    <label for="rangeHalf">50% Full</label>
  </section>
  <section class="flow__align--v-center flow__gap--s flow__flex">
    <input type="range" id="rangeFull" name="cowbell" min="0" max="100" value="100" step="10">
    <label for="rangeFull">100% Full</label>
  </section>
</section>
<section class="oomph__v--m">
  <p>
    <code>Progress</code>
  </p>
  <section class="flow__align--v-center flow__gap--s flow__flex">
    <progress id="quarter" max="100" value="25">25%</progress>
    <label for="quarter">25% Complete</label>
  </section>
</section>
<section class="oomph__v--m">
  <p>
    <code>Button</code>
  </p>
  <section class="flow__align--v-center flow__gap--s flow__flex">
    <button>Button</button>
    <button disabled>Button [disabled]</button>
  </section>
</section>